		<footer>
			<span>
				<p class="footer">{{ .Site.Params.Footer | markdownify }}</p>
				{{ if isset .Site.Params "tweaks" }}
  					{{ if eq .Site.Params.Tweaks.Credits "true" }}
  						<p class="footer credits">
  							{{ "[Theme made by diamondburned](https://gitlab.com/diamondburned/burned/), powered by [Hu**go**](https://gohugo.io/)" | markdownify }}
  						</p>
  					{{ end }}
  				{{ end }}
			</span>
		</footer>
  </body>
</html>