<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
	function loadgitment() {
		window.gitment = new Gitment({
			id: "{{ .Title }}",
			owner: "{{ .Site.Params.Gitment.Owner }}",
			repo: "{{ .Site.Params.Gitment.Repo }}",
			oauth: {
				client_id: "{{ .Site.Params.Gitment.OAuth.ID }}",
				client_secret: "{{ .Site.Params.Gitment.OAuth.Secret }}",
			},
		});
		//window.gitment.render(document.getElementById('gitment'));
		window.gitment.render(document.querySelector('#gitment'));
	}
</script>