<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/main.css">

		{{ if eq .URL "/" }}
			<meta name="description" content="{{ .Site.Params.Description }}">
		{{ else }}
			{{ if .Description }}
				<meta name="description" content="{{ .Description }}">
			{{ end }}
		{{ end }}
	
		{{ if isset .Site.Params "gitment" }}
			{{ partial "gitment_head.html" . }}
			{{ partial "gitment_css.html" . }}
		{{ end }}

		<title>
			{{ if eq .URL "/" }}
				{{ .Site.Title }}
			{{ else }}
				{{ .Title }} &middot; {{ .Site.Title }}
			{{ end }}
		</title>

		{{ if isset .Site.Params "tweaks" }}
			{{ if isset .Site.Params.Tweaks "fonts" }}
				<style> 
					html { 
						font-family: {{ range $fonts := .Site.Params.Tweaks.Fonts }}"{{ $fonts }}",{{ end }}
								sans-serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" 
					} 
				</style>
			{{ end }}
			{{ if eq .Site.Params.Tweaks.Blend "true" }}
				<style>
					body {background: none; box-shadow: none;}
					.nav {background: none;}
				</style>
			{{ end }}
			{{ if eq .Site.Params.Tweaks.StretchBar "true" }}
				<style>
					body {max-width: 100vw; box-shadow: none;}
					.nav-container {display: inline;}
					.title, .menu {margin: 1rem 20px;}
					main {margin: 0 auto; padding: 0 20px;}
				</style>
			{{ end }}
			{{ if eq .Site.Params.Tweaks.FloatingBar "true" }}
				<style>
					.nav {position: fixed; max-width: 800px; width: 100vw;}
					.if-nav-fixed {max-height: 12vh; height: 8vw;}
					@media only screen and (max-width: 600px) { .if-nav-fixed {max-height: 22vh; height: 18vh;} }
				</style>
			{{ end }}
			{{ if eq .Site.Params.Tweaks.DarkShadowBar "true" }}
				<style>
					.nav {box-shadow: 0 0px 3px 0px rgba(0, 0, 0, .75);}
				</style>
			{{ end }}
			{{ if eq .Site.Params.Tweaks.FontAwesome "true" }}
				<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
			{{ end }}
		{{ end }}
		<link rel="icon" href="{{ .Site.Params.Icon }}">

		<!-- RSS -->
		<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

		
	</head>
		
