<!DOCTYPE html>
<html lang="en">

	{{ partial "head.html" . }}

	<body onload="loadgitment()">
		<nav class="nav">
			<div class="nav-container">
				<div class="title">
					<a href="{{ .Site.BaseURL }}/">
						<h2 class="nav-title">{{ .Site.Title }}</h2>
					</a>
				</div>
				<div class="menu"><h2 class="nav-title">
					<ul>
						<li><a href="{{ .Site.BaseURL }}">
							<i class="{{ .Site.Params.Home.Icon }}"></i>{{ .Site.Params.Home.Text }}
						</a></li>
						<li><a href="{{ .Site.Params.About.Url }}">
							<i class="{{ .Site.Params.About.Icon }}"></i>{{ .Site.Params.About.Text }}
						</a></li>
						{{ if isset .Site.Params "social" }}
							{{ range $social := .Site.Params.Social }}
								<li>
									<a href="{{ $social.link }}">
										<i class="{{ $social.icon }}"></i>
										{{ $social.text }}
									</a>
								</li>
							{{ end }}
						{{ end }}

						<!--
						{{ if isset .Site.Params "github" }}
							<li><a href="https://github.com/{{ .Site.Params.Github.Username }}">
								<i class="{{ .Site.Params.Github.Icon }}"></i>{{ .Site.Params.Github.Text }}
							</a></li>
						{{ end }}
						{{ if isset .Site.Params "gitlab" }}
							<li><a href="https://gitlab.com/{{ .Site.Params.Gitlab.Username }}">
								<i class="{{ .Site.Params.Gitlab.Icon }}"></i>{{ .Site.Params.Gitlab.Text }}
							</a></li>
						{{ end }}
						{{ if isset .Site.Params "mail" }}
							<li><a href="mailto:{{ .Site.Params.Mail.Address }}">
								<i class="{{ .Site.Params.Mail.Icon }}"></i>{{ .Site.Params.Mail.Text }}
							</a></li>
						{{ end }}
						{{ if isset .Site.Params "twitter" }}
							<li><a href="https://twitter.com/{{ .Site.Params.Twitter.Username }}">
								<i class="{{ .Site.Params.Twitter.Icon }}"></i>{{ .Site.Params.Twitter.Text }}
							</a></li>
						{{ end }}
						-->
					</ul>
				</h2></div>
			</div>
		</nav>
		<div class="if-nav-fixed"></div>